---
import Layout from '@/layouts/Layout.astro';
import { ForgotPasswordForm } from '@/components/features/auth/ForgotPasswordForm';
---

<Layout title="Odzyskiwanie hasła">
  <main class="flex items-center justify-center h-screen">
    <ForgotPasswordForm client:load />
  </main>
</Layout>